@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = Global.Home_Index_Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}









<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    @*<div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                
                <a href="#">@Global.Home_Index_A01</a>
            </li>
        </ul>
    </div>*@
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <!-- PAGE CONTENT BEGINS -->
                @*<div class="alert alert-block alert-success">
                    <button type="button" class="close" data-dismiss="alert">
                        <i class="ace-icon fa fa-times"></i>
                    </button>

                    <i class="ace-icon fa fa-check green"></i>
                    @Global.Home_Index_AlertSuccess
                </div>*@
                <!-- /.row -->
                @*<div class="row">
                    <div class="col-xs-12">
                        <div class="wrapper">
                           
                        </div>
                    </div>
                </div>*@
                <!-- /.row -->
                <div class="space"></div>
                <div class="row">
                    <div class="col-xs-12">
                        <div class="wrapper">
                            <img class="img-responsive center-block" src="~/Content/images/banner.png">
                            <p>
                                <span style="color: #008446;"><strong>Địa chỉ liên hệ</strong></span><br>
                                <strong>
                                    Công ty Cổ Phần Thu Hồi Nợ Vietstar<br>
                                </strong>
                                Địa chỉ trụ sở: Số 126 Nguyễn Minh Hoàng P.12, Q. Tân Bình, TP.HCM<br />
                                Số điện thoại: 0901 252 252 (Từ 7:00-19:00, thứ 2 đến Chủ Nhật và các ngày lễ)<br />
                                Website: <a target="_blank" href="https://vietstargroup.vn">https://vietstargroup.vn</a>
                            </p>
                        </div>
                    </div>
                    <!-- /.col -->

                    <div class="vspace-6-sm"></div>

                    <div class="col-sm-6">
                        
                    </div>
                    <!-- /.col -->
                </div>
                <!-- PAGE CONTENT ENDS -->
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
