@{
    ViewBag.Title = "Phiên bản";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<script type="text/javascript">
    SetActiveMenu('@ViewBag.formindex', 2);
</script>
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="ace-icon fa fa-home home-icon"></i>
                <a href="#">Phiên bản</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <div class="tab-content no-border">
                    <div id="faq-tab-1" class="tab-pane fade in active">
                        <h4 class="blue">
                            <i class="ace-icon fa fa-check bigger-110"></i>
                            Lịch sử thay đổi phiên bản
                        </h4>
                         <div class="space-8"></div>

                        <div id="faq-list-2" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-2-1" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-files-o bigger-130"></i>
                                        &nbsp; Version 1.0.1 - 1/6/2019
                                    </a>
                                </div>

                                <div class="panel-collapse collapse in" id="faq-2-1" aria-expanded="true">
                                    <div class="panel-body">
                                        <p>+ Phiên bản đầu tiên được đưa vào sử dụng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="space-8"></div>

                        <div id="faq-list-1" class="panel-group accordion-style1 accordion-style2">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <a href="#faq-1-2" data-parent="#faq-list-1" data-toggle="collapse" class="accordion-toggle" aria-expanded="true">
                                        <i class="ace-icon fa fa-chevron-left pull-right" data-icon-hide="ace-icon fa fa-chevron-down" data-icon-show="ace-icon fa fa-chevron-left"></i>

                                        <i class="ace-icon fa fa-files-o bigger-130"></i>
                                        &nbsp; Version 1.0.0 - 1/4/2019
                                    </a>
                                </div>

                                <div class="panel-collapse collapse in" id="faq-1-2" aria-expanded="true">
                                    <div class="panel-body">
                                        <p>+ Tiến hành xây dựng</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                         
                    </div>
                </div>
            </div>
            <!-- /.col -->
        </div>
    </div>
</div>
