@using VS_LOAN.Core.Web.Resources
@using VS_LOAN.Core.Web.Helpers;
<div class="footer clearfix" style="margin-top:40px">
    <div class="footer-inner">

        @if (GlobalData.User.OrgId == 2)
        {
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Vietstar Collection</span>
                    &copy; 2020
                </span>

                &nbsp; &nbsp;
                <span class="action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                    </a>
                </span>
            </div>
        }
        else
        {
            <div class="footer-content">
                <span class="bigger-120">
                    <span class="blue bolder">Việt Bank</span>
                    &copy; 2019
                </span>

                &nbsp; &nbsp;
                <span class="action-buttons">
                    <a href="#">
                        <i class="ace-icon fa fa-twitter-square light-blue bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-facebook-square text-primary bigger-150"></i>
                    </a>

                    <a href="#">
                        <i class="ace-icon fa fa-rss-square orange bigger-150"></i>
                    </a>
                </span>
            </div>
        }


    </div>
</div>
