/.vs
/.nuget
/VS_LOAN.Core.Business/obj
/VS_LOAN.Core.Business/bin
/VS_LOAN.Core.Entity/obj
/VS_LOAN.Core.Entity/bin
/VS_LOAN.Core.Nhibernate/obj
/VS_LOAN.Core.Nhibernate/bin
/VS_LOAN.Core.Utility/obj
/VS_LOAN.Core.Utility/bin
/VS_LOAN.Core.Web/obj
/VS_LOAN.Core.Web/bin
/VS_LOAN.Core.Web/.vs
/VS_LOAN.Core.Web/Upload
/VS_LOAN.Core.Web/App_Data/Download
/VS_LOAN.Core.Nhibernate/XMLConnect
/F88Service/obj
/F88Service/bin
/EasyCreditService/bin
/EasyCreditService/obj
/VS_LOAN.Core.Nhibernate/XMLConnect/LOAN_hibernate.cfg.xml
/EasyCreditService/obj
/EasyCreditService/bin
/VS_LOAN.Core.Web/log.txt
/VietBankApi/obj
/VietBankApi/bin
/ConnectEc/VietBankApi/.vs
/ConnectEc/VietBankApi/bin
/ConnectEc/VietBankApi/obj
/LoanRepository/obj
/LoanRepository/bin
/Tool/ImportEcDataTool/GenerateEcModel/obj
/Tool/ImportEcDataTool/GenerateEcModel/bin
/Tool/ImportEcDataTool/ImportEcDataTool/bin
/Tool/ImportEcDataTool/ImportEcDataTool/obj
/VS_LOAN.Core.Web/log.txt.1
/VS_LOAN.Core.Web/log.txt.2
/VS_LOAN.Core.Web/log.txt.3
/VS_LOAN.Core.Web/log4net.txt
/VS_LOAN.Core.Web/log4net.txt.1
/VS_LOAN.Core.Web/log4net.txt.2
/VS_LOAN.Core.Web/log4net.txt.3
/VS_LOAN.Core.Web/log4net.txt.4
/VS_LOAN.Core.Web/log4net.txt.5
/VS_LOAN.Core.Web/log4net.txt.6
/VS_LOAN.Core.Web/log4net.txt.7
/VS_LOAN.Core.Web/log4net.txt.8
/VS_LOAN.Core.Web/log4net.txt.9
/VS_LOAN.Core.Web/log4net.txt.10
