/.vs
/.nuget
/VS_LOAN.Core.Business/obj
/VS_LOAN.Core.Business/bin
/VS_LOAN.Core.Entity/obj
/VS_LOAN.Core.Entity/bin
/VS_LOAN.Core.Nhibernate/obj
/VS_LOAN.Core.Nhibernate/bin
/VS_LOAN.Core.Utility/obj
/VS_LOAN.Core.Utility/bin
/VS_LOAN.Core.Web/obj
/VS_LOAN.Core.Web/bin
/VS_LOAN.Core.Web/.vs
/VS_LOAN.Core.Web/Upload
/VS_LOAN.Core.Web/App_Data/Download
/VS_LOAN.Core.Nhibernate/XMLConnect
/F88Service/obj
/F88Service/bin
/VS_LOAN.Core.Nhibernate/XMLConnect/LOAN_hibernate.cfg.xml
/EasyCreditService/obj
/EasyCreditService/bin
