.img-circle {
    border-radius: 50%;
}

.input-container input {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding: .75rem;
    position: relative;
    width: 100%;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    background: transparent;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}
.label-orrange {
    background-color: #e38008!important;
}
.label-temp {
    background-color: #757575 !important;
}
.label-green {
    background-color: #38b04a !important;
}

.label-cancel {
    background-color: #455f73 !important;
}
/*select option, select.form-control option {
    padding: 3px 4px 15px;
}*/