@using VS_LOAN.Core.Web.Resources;
@{
    ViewBag.Title = "Cập nhật công ty";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="main-content-inner">
    <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
            <li>
                <i class="fa fa-caret-right"></i>
                <a href="#">Cập nhật công ty</a>
            </li>
        </ul>
    </div>
    <div class="page-content" id="panel_body">
        <div class="row">
            <div class="col-xs-12">
                <h3 class="header smaller lighter blue">1.Thông tin công ty:</h3>
                <form class="form-horizontal" role="form">
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên Công ty <span class="required">(*)</span> </label>
                        <div class="col-sm-4">
                            <input type="text" id="txtHoTen" placeholder="Nhập họ tên" class="form-control">
                        </div>

                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày Check<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="txtCheckDate" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Mã số thuế<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="txtTaxNumber" placeholder="Nhập mã số thuế" class="form-control" />
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Cat<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlCat" class="chosen-select form-control" data-placeholder="">
                                <option value="1">CatA</option>
                                <option value="2">CatB</option>
                                <option value="3">CatC</option>
                            </select>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlDoiTac" class="chosen-select form-control" data-placeholder="Chọn đối tác">
                                <option value="0"></option>
                            </select>
                        </div>

                    </div>

                </form>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <hr />
                <form class="form-horizontal">
                    <h4 class="header lighter orange"><i class="ace-icon fa fa-bell"></i>Ghi chú</h4>
                    <div class="form-group">
                        <label class="col-sm-1  col-xs-12 control-label no-padding-right" for="form-field-1">Ghi chú</label>
                        <div class="col-md-11 col-sm-12 col-xs-12">
                            <textarea class="form-control" id="txtGhiChu" style="margin: 0px -4.5px 0px 0px; height: 50px;" placeholder="Nhập ghi chú"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-md-12">
                            <div class="col-md-8 activity-log">
                                <div class="timline-addNote only-new-note">
                                    <div class="timeline-date-event timline-date-event--margin mt-0" id="dsGhichu">


                                    </div>
                                </div>
                            </div>
                            <div class="pull-right">

                                <a class="btn btn-sm btn-primary" id="btnSave">
                                    Lưu
                                </a>

                            </div>
                        </div>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>
<script>
    var company = @Html.Raw(Json.Encode(ViewBag.company));
    var partners = null
    $(document).ready(function () {
        getPartner()
        GetNotes(company.Id)
        let gender = company.Gender == false ? "0" :"1"
        $("#txtHoTen").val(company.FullName)
        setDateTimeInput('#txtCheckDate')
        setValueForDateInput("#txtCheckDate", company.CheckDate)
        //$("#txtCheckDate").datepicker({ dateFormat: 'dd/mm/yy' }).datepicker("setDate", new Date().getDay + 0);
        //let checkDate = isNullOrUndefined(company.CheckDate) ? new Date().getDay + 0 : company.CheckDate
        //$('#txtToDate').val(SetFormatDateTimeDMY(checkDate));
        $("#txtTaxNumber").val(company.TaxNumber)
        $("#ddlCat").val(company.CatType)
    })
    function getPartner() {
         $.ajax({
             type: "GET",
             url: '/Company/GetPartner',
             success: function (data) {
                 partners = data.data
                 $('#ddlDoiTac').empty();
                 if (data != null) {
                     var checked = data.data.find(p=>p.IsSelect==true);
                     $.each(data.data, function (index, item) {
                        $('#ddlDoiTac').append("<option value='" + item.Id + "'>" + item.Name + "</option>");
                     });
                     $("#ddlDoiTac").val(company.PartnerId);
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
    jQuery.fn.ForceNumericOnly = function () {
    return this.each(function () {
        $(this).keydown(function (e) {
            var key = e.charCode || e.keyCode || 0;
            // allow backspace, tab, delete, enter, arrows, numbers and keypad numbers ONLY
            // home, end, period, and numpad decimal
            return (
                key == 8 ||
                key == 9 ||
                key == 13 ||
                key == 46 ||
                key == 110 ||
                key == 190 ||
                (key >= 35 && key <= 40) ||
                (key >= 48 && key <= 57) ||
                (key >= 96 && key <= 105));
        });
    });
};
    $("#txtTaxNumber").ForceNumericOnly();
    $('#btnSave').click(function (e) {
        debugger
        if (isNullOrWhiteSpace($('#txtCheckDate').val())) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Ngày check không hợp lệ",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }

        if (isNullOrWhiteSpace($('#txtTaxNumber').val())) {
            swal({
                title: "@Html.Raw(Global.Message_Title)",
                text: "Vui lòng nhập mã số thuế",
                type: "error",
                timer: 4000,
                showConfirmButton: true,
            });
            return;
        }
            company.FullName = $('#txtHoTen').val()
            company.CheckDate = $('#txtCheckDate').val()
            company.LastNote = $('#txtGhiChu').val()
            company.TaxNumber = $('#txtTaxNumber').val()
            company.CatType = $("#ddlCat").val()

            var objectSend = JSON.stringify(company);
            $.ajax({
                traditional: true,
                url: '@Url.Action("Update", "Company")',
                type: "POST",
                contentType: "application/json; charset=utf-8",
                data: objectSend,
                success: function (data) {
                    if (data.success == true) {
                        swal({
                            title: "Thành công",
                            text: "Cập nhật thành công",
                            type: "success",
                            timer: 4000,
                            showConfirmButton: true,
                        }, function () {
                            window.location = "/company/Index";
                        });
                    }
                    else {
                        swal({
                            title: "Lỗi",
                            text: data.code,
                            type: "error",
                            timer: 4000,
                            showConfirmButton: true,
                        });
                    }
                },
                error: function (jqXHR, exception) {
                    showError(jqXHR, exception);
                },
                complete: function () {
                    $('#panel_body').unblock();
                },
            })
        });
    function GetNotes(id) {
        //$('#ddlTrangThai').empty();
        if (isNullOrUndefined(id))
            return;
        $.ajax({
            type: "GET",
            url: '/company/GetNotes?companyId=' + id,
            data: {},
            success: function (data) {

                if (data.data != null) {
                    $.each(data.data, function (index, item) {
                        $('#dsGhichu').append(
                            '<div class="timeline-event-content  active">' +
                            '<div class="timeline-item">' +
                            '<div class="timeline-body">' +
                            '<div class="timeline__message-container">' +
                            '<strong>' + item.Commentator + ' (' + SetFormatDateTimeDMY(item.CommentTime) + '): </strong><span>' + item.Noidung + '</span>' +
                            '</div></div></div></div>'
                        )
                    });
                }

            },
            complete: function () {
            },
            error: function (jqXHR, exception) {
                showError(jqXHR, exception);
            }
        });
    }
</script>