
             <h3 class="header smaller lighter blue">2. Thông tin địa chỉ cư trú </h3>

                <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="ddlTinhCur" name ="ddlTinhCur" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                            <option value="0"></option>
                        </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="ddlHuyenCur" name ="ddlHuyenCur" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                            <option value="0"></option>
                        </select>
                        </div>

                </div>
					
					
					 <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Phường/Xã<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlRewardCur"  name ="ddlRewardCur" class="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="0"></option>
                            </select>
                        </div>
						
                    </div>
					
				
					


			
					
			     <div class="form-group">
                      <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Thời gian sinh sống<span class="required">(*)</span></label>
                       <div class="col-sm-10">
                            <label class="control-label no-padding-right">
                              <input class = "lbl" type="text" id="addressCur_stayduratcuradd_y" name ="stayduratcuradd_yCur" placeholder="Email" class="form-control" />
                                <span class="lbl">Năm</span>
                            </label>
                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <input class = "lbl" type="text" id="addressCur_stayduratcuradd_m"  name= "stayduratcuradd_mCur" placeholder="" class="form-control" />
                                <span class="lbl">Tháng
                                
                                </span>
                            
                             
                          
                            </label>

                        </div>
						
						
                    </div>
					
			
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại bàn<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressCur_mobile" name="mobileCur" placeholder="Điện thoại bàn" class="form-control" />
                        </div>

                    </div>
					
				
					 <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tình trạng sở hữu nhà hiện tại<span class="required">(*)</span></label>
                       <div class="col-sm-4">
                            <select id="addressCur_in_propertystatus"  name="propertystatusCur" class="chosen-select form-control">
                                <option value="O">Sở hữu</option>
                                <option value="R">Thuê</option>
								 <option value="F">Nhà người thân</option>
                            </select>
                        
                    </div>
					</div>
					
					
					
                     <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Đối với khách hàng thuê  trọ(nếu có)<span class="required">(*)</span></label>
                      
                        
                    </div>
					
                    
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên chủ nhà trọ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressCur_landlord" name ="landlordCur" placeholder="nhân chủ nhà trọ" class="form-control" />
                        </div>
                        
                    </div>


                       <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Phòng trọ số<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressCur_roomno" name ="roomnoCur" placeholder="Phòng trọ số" class="form-control" />
                        </div>
                        
                    </div>
				
					  
					   <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Địa chỉ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <input type="text" id="addressCur_address1stline" name ="address1stlineCur" placeholder="Địa chỉ hộ khẩu" class="form-control" />
                        </div>
						
                    </div>
					
					 <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Mô tả đường đi<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <input type="text" id="addressCur_landmark" name ="landmarkCur"  placeholder="Mô tả đường đi" class="form-control" />
                        </div>
						
                    </div>
					
				<div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Địa chỉ thường trú trùng địa chỉ hiện tại *</label>
                        <div class="col-sm-4">
                            <label class="control-label no-padding-right">
                                <input name="IsDuplicateAdrees" id ="IsDuplicateAdreesHas" type="radio"  value="true" class="ace">
                                <span class="lbl"> Có</span>
                            </label>
                            <label class="control-label no-padding-right" id ="IsDuplicateAdreesNo" style="margin-left:20px">
                                <input name="IsDuplicateAdrees" type="radio" value="false" class="ace">
                                <span class="lbl"> Không</span>
                            </label>
                        </div>
                        
				</div>




             <h3 class="header smaller lighter blue">3. Thông tin địa chỉ thường trú</h3>
                    
					
                    <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Địa chỉ hộ khẩu<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <input type="text" id="addressPer_address1stline" name ="address1stlinePer" placeholder="Địa chỉ hộ khẩu" class="form-control" />
                        </div>
						
                    </div>



                      <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlTinhPer" name ="ddlTinhPer" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="ddlHuyenPer" name ="ddlHuyenPer" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
						
						
                    </div>
					
					
					 <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Phường/Xã<span class="required">(*)</span></label>
					
                        <div class="col-sm-4">
                            <select id="ddlRewardPer" style ="width:100%"  name ="DdlRewardPer" banclass="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="0"></option>
                            </select>
                        </div>
						
                    </div>
					

                    
				
					
                    
					

			<div class="form-group">
                      <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Thời gian sinh sống<span class="required">(*)</span></label>
                       <div class="col-sm-10">
                            <label class="control-label no-padding-right">
                              <input class = "lbl" type="text" id="addressPer_stayduratPeradd_y" name ="StayduratPeradd_mPer" placeholder="Email" class="form-control" />
                                <span class="lbl">Năm</span>
                            </label>
                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <input class = "lbl" type="text" id="addressPer_stayduratPeradd_m"  name= "StayduratPeradd_yPer" placeholder="" class="form-control" />
                                <span class="lbl">Tháng
                                
                                </span>
                            
                             
                          
                            </label>

                        </div>
						
						
                    </div>
					
			
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại bàn<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressPer_mobile" name="mobilePer" placeholder="Điện thoại bàn" class="form-control" />
                        </div>

                    </div>
					
				
					 <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tình trạng sở hữu nhà hiện tại<span class="required">(*)</span></label>
                       <div class="col-sm-4">
                            <select id="propertystatusCur"  name="propertystatusPer" class="chosen-select form-control">
                                <option value="O">Sở hữu</option>
                                <option value="R">Thuê</option>
								 <option value="F">Nhà người thân</option>
                            </select>
                        
                    </div>
					</div>
					
					
					
                     <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Đối với khách hàng thuê  trọ(nếu có)<span class="required">(*)</span></label>
                      
                        
                    </div>
					
                    
                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên chủ nhà trọ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressPer_landlord" name ="landlordPer" placeholder="nhân chủ nhà trọ" class="form-control" />
                        </div>
                        
                    </div>


                       <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Phòng trọ số<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="addressPer_roomno" name ="roomnoPer" placeholder="Phòng trọ số" class="form-control" />
                        </div>
                        
                    </div>
				
					  
					
					
					 <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Mô tả đường đi<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <input type="text" id="addressPer_landmark" name ="landmarkPer" placeholder="Mô tả đường đi" class="form-control" />
                        </div>
						
                    </div>
					