 <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="fname" value ="SMARTBANK"  name ="fname" placeholder="Nhập họ và tên" class="form-control" />
                        </div>
                       
                    </div>





                      <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên lót<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="mname" name ="mname" value ="TEST" placeholder="Nhập tên lót" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Tên<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                              <input type="text"name ="lname" id ="lname" placeholder="Nhập tên" class="form-control" />
                            </div>
                        </div>
                    </div>
					

                
                


                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="title"name ="title" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="MR">MR</option>
                            <option value="MRS">MRS </option>

                            <option value="MS">MS</option>

                            
                        <select>
                        </div>

                        </div>

					  <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <select  name ="gender" id ="gender" class="chosen-select form-control">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
						<label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày tháng năm sinh<span class="required">(*)</span> </label>
                           <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="dob" name ="dob" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
					
					
				
                    <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND/CCCD<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="nationalid" name  ="nationalid" placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        
                    </div>
           
					
		
					 <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">ĐTDĐ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                             <input type="text" typeInput ="phoneInput"  id="mobile" name ="Mobile" placeholder="Điện thoại di dộng" class="form-control" />
                        </div>
                    </div>

	              <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Điện thoại bàn<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                             <input type="text" typeInput ="phoneInput"  id="fixphone" name ="fixphone" placeholder="Điện thoại di dộng" class="form-control" />
                        </div>
                        
                    </div>

                         <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Mã số kinh doanh<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="salesofficer"name ="salesofficer" class="chosen-select form-control" data-placeholder="Mã kinh doanh">
                      
                        <select>
                        </div>

                        </div>
