

 <h3 class="header smaller lighter blue">8.Thông tin khoản nợ</h3>


      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Tên TCTD/Chủ nợ <span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>


      <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Ngày vay <span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>


    <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Ngày đến hạn <span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>


    <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Dư nợ hiện tại<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>

            <div class="form-group">

                <label class="col-sm-2 control-label no-padding-right">Số tiền trả nợ hàng tháng<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="txtCMND" placeholder="Mô tả đường đi" class="form-control" />
                </div>
                
        </div>
