
            <h3 class="header smaller lighter blue"> 6 Thông tin về nghề nghiệp</h3>
                   

                         <div class="form-group">
                       
						<label class="col-sm-2 control-label no-padding-right">Nguồn thu nhập<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                                <select id="priority_c"    name ="priority_c" class="chosen-select form-control" data-placeholder="">
                                <option value="Bank Statement">Bank Statement</option>
                                <option value="Business License">Business License</option>
                                <option value="No Business License">No Business License</option>

                                <option value="None">Khác</option>

                                <option value="Pay Slip">Pay Slip</option>
                            </select>
                        </div>
						
                    </div>
					


                    <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Tên công ty<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="others" name  ="others" placeholder="Tên công ty" class="form-control" />
                </div>
                
             </div>


               
   <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Điện thoại công ty<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="phone" name  ="phone" placeholder="Điện thoại công ty" class="form-control" />
                </div>
                
             </div>

             <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Loại địa chỉ công ty<span class="required">(*)</span></label>
                <div class="col-sm-4">
                    <select id="addresstype" name ="addresstype" class="chosen-select form-control" data-placeholder="Chọn đường">
                        <option value="HEADOFF"> Trụ sở chính công ty</option>
                            <option value="BCHOFF"> Chi nhánh công ty</option>
                    </select>
                </div>
                
            </div>

       
     

                <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Tỉnh/TP<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="cityCompany" autobind ="false"  name ="cityCompany" class="chosen-select form-control" data-placeholder="Chọn tỉnh thành phố">
                                <option value="0"></option>
                            </select>
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Quận/huyện<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="districtCompany" autobind ="false" name ="districtCompany" class="chosen-select form-control" data-placeholder="Chọn quận huyện">
                                <option value="0"></option>
                            </select>
                        </div>
                        
                        
                    </div>
                    
                    
                     <div class="form-group">
                        
                        <label class="col-sm-2 control-label no-padding-right">Phường/Xã<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <select id="wardCompany" autobind ="false" name = "wardCompany" class="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="0"></option>
                            </select>
                        </div>
                        
                    </div>
                    

                    
                    
            <div class="form-group">
                    
                    <label class="col-sm-2 control-label no-padding-right">Địa chỉ <span class="required">(*)</span></label>
                    <div class="col-sm-4">
                            <input type="text" id="addressline" name ="addressline" placeholder="Địa chỉ công ty" class="form-control" />
                    </div>
                    
            </div>





					
            <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Loại hình kinh doanh<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" readonly id="natureofbuss" value="hoat dong lam thue cac cong viec trong cac hgd,sx sp vat chat va dich vu tu tieu dung cua ho gia dinh" name ="natureofbuss" placeholder="Mã số thuế" class="form-control" />
                </div>
                        <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Mã số thuế công ty<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="tax_code"    name ="tax_code" placeholder="Mã số thuế" class="form-control" />
                </div>
                
            </div>


             </div>
                    <div class="form-group" style="display:none">

                    <label class="col-sm-2 control-label no-padding-right">Nhóm giới thiệu<span class="required">(*)</span></label>
                    <div class="col-sm-4">
                    <input type="text" id="referalgroup" name ="referalgroup" placeholder="Nhóm giới thiệu" class="form-control" />
                    </div>

                    </div>

             
                <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Thời gian làm việc<span class="required">(*)</span></label>
                       <div class="col-sm-10">
                            <label class="control-label no-padding-right">
                                <input name="presentjobyear"  id ="presentjobyear" type="text" checked="checked"  class="ace">
                                <span class="lbl"> Năm</span>
                            </label>
                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <input name="presentjobmth" id ="presentjobmth" type="text" class="ace">
                                <span class="lbl">Tháng</span>
                            </label>

                            <label class="control-label no-padding-right" style="margin-left:20px">
                                <span class="lbl">Vị trí</span>
                                <input type="text" id="position" name ="position" class ="ace" placeholder="Vị trí làm việc" class="form-control" />

                        </div>
						
						
                    </div>