                    <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="fname"  name ="fname" placeholder="Nhập họ và tên" class="form-control" />
                        </div>
                       
                    </div>





                      <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên lót<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="mname" name ="mname" placeholder="Nhập tên lót" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Tên<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <div class="input-group">
                              <input type="text"name ="lname" id ="lname" placeholder="Nhập tên" class="form-control" />
                            </div>
                        </div>
                    </div>
					

                
                


                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="title"name ="title" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="MR">MR</option>
                            <option value="MRS">MRS </option>

                            <option value="MS">MS</option>

                            
                        <select>
                        </div>

                        </div>

					  <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Giới tính<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                              <select  name ="gender" id ="gender" class="chosen-select form-control">
                                <option value="0">Nam</option>
                                <option value="1">Nữ</option>
                            </select>
                        </div>
						<label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày tháng năm sinh<span class="required">(*)</span> </label>
                           <div class="col-sm-4">
                            <div class="input-group">
                                <input class="form-control date-picker" id="dob" name ="dob" />
                                <span class="input-group-addon">
                                    <i class="fa fa-calendar bigger-110"></i>
                                </span>
                            </div>
                        </div>
                    </div>
					
					
				
                    <div class="form-group">
                         <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Số CMND/CCCD<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                            <input type="text" id="nationalid" name  ="nationalid" placeholder="Nhập số CMND" class="form-control" />
                        </div>
                        
                    </div>
                   
					
		
					  <div class="form-group">
                        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">ĐTDĐ<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                             <input type="text" typeInput ="phoneInput"  id="phone" name ="phone" placeholder="Điện thoại di dộng" class="form-control" />
                        </div>
                        <label class="col-sm-2 control-label no-padding-right">Email<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                           <input type="text" id="email" name ="email"  placeholder="Nhập địa chỉ Email" class="form-control" />
                        </div>
                    </div>



                        <div class="form-group">
                        <label class="col-sm-2 control-label no-padding-right">Mã số kinh doanh<span class="required">(*)</span></label>
                        <div class="col-sm-4">
                        <select id="salesofficer"name ="salesofficer" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="MR">MR</option>
                        <option value="MRS">MRS </option>

                        <option value="MS">MS</option>


                        <select>
                        </div>
                        </div>


                <div class="form-group">
                <label class="col-sm-2 control-label no-padding-right">Trạng thái hôn nhân<span class="required">(*)</span></label>
                <div class="col-sm-4">
                <select id="maritalstatus"name ="maritalstatus" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="W">Ly hôn </option>
                        <option value="M">Hôn nhân </option>

                        <option value="S">Độc thân</option>
                <select>
                </div>
            </div>
            
            <div class="form-group">
                    <label class="col-sm-2 control-label no-padding-right">Trạng thái hôn nhân<span class="required">(*)</span></label>
                    <div class="col-sm-4">
                    <select id="eduqualify"name ="eduqualify" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                    <option value="CE">COLLEGE OR EQUIVALENT    </option>
                    <option value="HG">HIGH SCHOOL     </option>

                    <option value="LG">LOWER HIGH SCHOOL     </option>
                    <option value="U">UNIVERSITY</option>

                    <option value="UU">UPPER UNIVERSITY</option>


                    <select>
                    </div>
            </div>


         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Số người phụ thuộc<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="noofdependentin" name ="noofdependentin" placeholder="Mức thu nhập" class="form-control" />
                </div>
                
            </div>

                
      
        <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Nơi cấp<span class="required">(*)</span></label>
            <div class="col-sm-4">
             

                <div class="col-sm-4">
                    <select id="idissuer"name ="idissuer" class="chosen-select form-control" data-placeholder="Nơi cấp CMND">
                    <select>
                    </div>
            </div>
            <label class="col-sm-2 control-label no-padding-right">Ngày cấp CMND/CCCD<span class="required">(*)</span></label>
            <div class="col-sm-4">
                <div class="input-group">
                    <input class="form-control date-picker" name ="nationalidissuedate" id="nationalidissuedate" />
                    <span class="input-group-addon">
                        <i class="fa fa-calendar bigger-110"></i>
                    </span>
                </div>
            </div>
        </div>
    

        

            <div class="form-group">
        
        <label class="col-sm-2 control-label no-padding-right">Số sổ hộ khẩu<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <input type="text" id="familybooknumber" name ="familybooknumber" placeholder="Mức thu nhập" class="form-control" />
        </div>

        </div>


          <div class="form-group">
        
        <label class="col-sm-2 control-label no-padding-right">Người hôn phối<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <input type="text" id="spousename" name ="spousename" placeholder="Mức thu nhập" class="form-control" />
        </div>
        </div>

        <div class="form-group">
        
        <label class="col-sm-2 control-label no-padding-right">CMND người hôn phối<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <input type="text" id="spouse_id_c" name ="Spouse_id_c" placeholder="Mức thu nhập" class="form-control" />
        </div>

    

          <label class="col-sm-2 control-label no-padding-right">CMND Cũ người hôn phối<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <input type="text" id="notedetails" name ="notedetails" placeholder="Chứng minh nhân dân cũ" class="form-control" />
        </div>
        </div>

        
         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Payment channel<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="paymentchannel"name ="paymentchannel" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="O">khấu trừ qua lương   </option>
                            <option value="C">trích nợ tự động    </option>

                            <option value="T">Thông thường     </option>

                            
                        <select>
                </div>
                
            </div>




        
         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Loan category<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="categoryid"name ="categoryid" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="TEL">TELESALE   </option>
                            <option value="DAN">ĐẶNG NAM    </option>

                            <option value="TNE">TNES    </option>
    <option value="OTH">OTHER    </option>
            <option value="FIV">FIN VIỆT   </option>    

                    <option value="VTI">VIỆT TÍN</option>        
                            <option value="THIENTU">THIÊN TÚ</option>         

                            <option value="SMARTNET">SMARTNET</option>        

                              <option value="DIAMOND_STAR">DIAMOND STAR</option>    
  <option value="CALLUS">CALLUS</option>    
       <option value="DIGIPAY">DIGIPAY</option>                                        
                        <select>
                </div>
                
            </div>

 <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Ngày thanh toán hàng tháng<span class="required">(*)</span></label>
              
              <div class="col-sm-4">
  
                        <input type="text" id="dueday" name ="dueday" placeholder="" class="form-control" />

                </div>
                    
        </div>

    <div class="form-group">
            <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Tên ngân hàng<span class="required">(*)</span></label>
              
              <div class="col-sm-4">
                      
                       <select id="bankname"name ="bankname" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                     
                            
                        <select>
                        
                </div>
                    
        </div>



         <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Chi nhánh ngân hàng<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="bankbranch" name ="bankbranch" placeholder="Mức thu nhập" class="form-control" />
                </div>
                
            </div>

               <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Số tài khoản<span class="required">(*)</span></label>
                <div class="col-sm-4">
                        <input type="text" id="accno" name ="accno" placeholder="Mức thu nhập" class="form-control" />
                </div>
                
            </div>


                <div class="form-group">
                
                <label class="col-sm-2 control-label no-padding-right">Loại tài khoản<span class="required">(*)</span></label>
                <div class="col-sm-4">


                         <select id="acctype"name ="acctype" class="chosen-select form-control" data-placeholder="Chọn cách xưng  hô">
                        <option value="SAVINGS">Tài khoản tiết kiệm  </option>
                            <option value="CURRENT">CURRENT ACCOUNT   </option>
                            <option value="OVRDRAFT">OVRDRAFT ACCOUNT   </option>
                            <option value="JOINT">JOINT ACCOUNT    </option>

                            
                        <select>
                </div>
                
            </div>  
      
