

 <h3 class="header smaller lighter blue">8.Thông tin tham chiếu</h3>





<h4 class=" smaller lighter blue">8.1 Người tham chiếu thứ 1</h4>

<div class="form-group">
        <label for="form-field-1" class="col-sm-2 control-label no-padding-right">Họ và tên   <span class="required">(*)</span></label>
        <div class="col-sm-4">
        <input type="text" id="refferee1_Refereename" name ="Refferee1_Refereename" placeholder="Nhập họ tên" class="form-control" />
        </div>
        <label class="col-sm-2 control-label no-padding-right">Điện thoại liên hệ<span class="required">(*)</span></label>
        <div class="col-sm-4">
        <input type="text" id="refferee1_Phone1" name ="Refferee1_Phone1"   typeInput = "phoneInput"  placeholder="Điện thoài liên hệ" class="form-control" />
        </div>
</div>




<div class="form-group">
<label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
<div class="col-sm-4">
<select id="refferee1_in_title "name ="Refferee1_in_title" class="chosen-select form-control" data-placeholder="Chọn đường">
<option value="MR">MR</option>
<option value="MRS">MRS </option>

<option value="MS">MS</option>


<select>
</div>

</div>


<div class="form-group">

<label class="col-sm-2 control-label no-padding-right">Mối quan hệ <span class="required">(*)</span></label>
<div class="col-sm-4">
<select id="refferee1_Refereerelation "name ="Refferee1_Refereerelation" class="chosen-select form-control" data-placeholder="Chọn đường">
<option value="R">Người thân</option>
<option value="CA">Người đồng vay</option>

<option value="WH">Vợ chồng</option>

<option value="F">Bạn bè</option>
<select>
</div>

</div>
 



 
<h4 class=" smaller lighter blue">8.2 Người tham chiếu thứ 2</h4>

<div class="form-group">
            <label for="form-field-1"  class="col-sm-2 control-label no-padding-right">Họ và tên   <span class="required">(*)</span></label>
            <div class="col-sm-4">
                <input type="text"  id="refferee2_Refereename" name ="Refferee2_Refereename" placeholder="Nhập họ tên" class="form-control" />
            </div>
            <label class="col-sm-2 control-label no-padding-right">Điện thoại liên hệ<span class="required">(*)</span></label>
            <div class="col-sm-4">
                    <input type="text" id="refferee2_Phone1" name ="Refferee2_Phone1"   typeInput = "phoneInput"  placeholder="Điện thoài liên hệ" class="form-control" />
            </div>
</div>


<div class="form-group">
        <label class="col-sm-2 control-label no-padding-right">Cách xưng hô<span class="required">(*)</span></label>
        <div class="col-sm-4">
                <select id="refferee2_in_title"name ="refferee2_in_title" class="chosen-select form-control" data-placeholder="Chọn đường">
                        <option value="MR">MR</option>
                            <option value="MRS">MRS </option>

                            <option value="MS">MS</option>

                            
                    <select>
        </div>
        
</div>


          <div class="form-group">

              <label class="col-sm-2 control-label no-padding-right">Mối quan hệ <span class="required">(*)</span></label>
                <div class="col-sm-4">
                       <select id="Refferee2_Refereerelation"name ="Refferee2_Refereerelation" class="chosen-select form-control" data-placeholder="Chọn đường">
                                <option value="R">Người thân</option>
                                 <option value="CA">Người đồng vay</option>

                                  <option value="WH">Vợ chồng</option>

                                     <option value="F">Bạn bè</option>
                         <select>
                </div>
                
        </div>




         
     