<div class="form-group mt-50">
    <div class="col-sm-5 col-xs-12 ">
        <label class="control-label no-padding-right" for="form-field-1">Trạng thái</label>
        <select id="ddlStatus" class="chosen-select form-control" data-placeholder="Chọn trạng thái">
            <option value="0" selected>Lưu tạm</option>
        </select>
    </div>
</div>