<div class="row ">
        <div class="col-xs-12">
            <h3 class="header smaller lighter blue">3.Hồ sơ đính kèm:</h3>
            <div class="row" style="background-color:white">
                <div class="col-xs-12" style="overflow-y: scroll;max-height:400px;">
                    <form class="" role="form" id="uploadArea"></form>
                </div>
            </div>

        </div>
</div>