<ul class="sidebar-menu" data-widget="tree" id="left-menu">
    <li class="header ">HỆ THỐNG KIỂM DUYỆT HỒ SƠ</li>
    <li class="treeview">
        <a href="/Home">
            <i class="fa fa-home"></i> <span>Trang chủ</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Home/About"><i class="fa fa-circle-o"></i> Giới thiệu</a></li>
            <li><a href="/Home/Version"><i class="fa fa-circle-o"></i> Phiên bản</a></li>

        </ul>
    </li>
    <li class="active treeview">
        <a href="#">
            <i class="fa fa-file"></i> <span>Hồ sơ</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Create"><i class="fa fa-circle-o"></i> Tạo hồ sơ</a></li>
            <li><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>
            <li><a href="/Profile/Approve"><i class="fa fa-circle-o"></i> Xét duyệt</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-files-o"></i> <span>Check duplicate</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/CheckDup/Create"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li><a href="/CheckDup/Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-bank"></i> <span>Công ty</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li><a href="/Company/Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>

        </ul>
    </li>
    <li class="treeview" id="li-courier">
        <a href="#">
            <i class="fa fa-dashboard"></i> <span>Courier</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Courier/Create"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li><a href="/Courier/Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-globe"></i> <span>MCredit</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Check CAT</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Check CIC</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Check Duplicate</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Check Status</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li><a href="/Profile/list"><i class="fa fa-circle-o"></i>Đã gửi MC</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-group"></i> <span>Tổ nhóm</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Quản lý</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Cấu hình duyệt</a></li>
        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-product-hunt"></i> <span>MÃ AAP</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Quản lý mã</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Import</a></li>

        </ul>
    </li>
    <li class="treeview">
        <a href="#">
            <i class="fa fa-sellsy"></i> <span>Nhân sự</span>
            <span class="pull-right-container">
                <i class="fa fa-angle-left pull-right"></i>
            </span>
        </a>
        <ul class="treeview-menu">
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Tạo mới</a></li>
            <li class="active"><a href="/Profile/Index"><i class="fa fa-circle-o"></i> Danh sách</a></li>

        </ul>
    </li>


</ul>